.banner {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(37, 35, 42);
}

.cuerpo {
    justify-content: center;
    align-items: center;
    display: grid;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(1, 1fr);
}

.inicio-child {
    margin: 6%;
}

h4 {
    font-size: 2.5rem;
}

.Pupy {
    background-image: linear-gradient(180deg, rgba(236, 253, 253, 1.5), rgba(255, 255, 255, 1.5));
    align-items: center;
    justify-content: center;
    padding: 4%;
}

.Crud {
    background-image: linear-gradient(180deg, rgba(251, 230, 242, 1.5), rgba(255, 255, 255, 1.5));
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.Biacol {
    background-image: linear-gradient(180deg, rgba(251, 251, 232, 1.5), rgba(255, 255, 255, 1.5));
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.Benatha {
    background-image: linear-gradient(180deg, rgba(236, 255, 234, 1.5), rgba(255, 255, 255, 1.5));
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.footertext {
    padding: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer {
    background-color: rgb(37, 35, 42);
}

.imagen-mu {
    height: 350px;
}

@media (max-width: 768px) {
    .contenedor {
      flex-direction: column;
    }
  }

@media (max-width: 768px) {
    .imagen-mu {
        height: 310px;
        display: block;
        justify-content: center;
        align-items: center
    }
}