.banner {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(37, 35, 42);
}

.cuerpo {
    justify-content: center;
    align-items: center;
    display: grid;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: repeat(1, 1fr);
}

.inicio-child {
    margin: 6%;
}

h4 {
    font-size: 2.5rem;
}

.Pupy {
    background-color: rgb(236, 253, 253);
    align-items: center;
    justify-content: center;
    padding: 4%;
}

.Crud {
    background-color: rgb(251, 230, 242);
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.Biacol {
    background-color: rgb(251, 251, 232);
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.Benatha {
    background-color: rgb(236, 255, 234);
    align-items: center;
    justify-content: center;
    padding: 3%;
}

.footertext {
    padding: 2%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer {
    background-color: rgb(37, 35, 42);
}